h1 { margin-top: 1em; font-size: 4em; font-family: 'Merriweather', serif; font-weight: 700; }
h2 { margin-top: 2em; font-family: 'Merriweather', serif; font-weight: 700; }
body { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
p { margin-bottom: 2em; }
#dynamic-quotes {
  position: absolute;
  top: 0;
  text-align:center;
  display: block;
  height:0px;
  margin: 0 auto;
  transition:all 0.1s linear;
  overflow:hidden;
}

#dynamic-quotes:not(:empty){
  height:120px;
}
#dynamic-quotes p {
  margin: 0;
}

#dynamic-quotes p {
  display: block;
  color: #e20a18;
  font-weight: bold;
  font-size: 2.5em;
  text-transform: uppercase;
  font-family: 'Dosis', sans-serif;
  letter-spacing: 2px;
  text-shadow:
		-1px -1px 0 #fff,
		1px -1px 0 #fff,
		-1px 1px 0 #fff,
		1px 1px 0 #fff;
  background: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMDAgMTUwIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj4NCjxkZWZzPg0KPHN0eWxlPg0KCXBhdGggeyANCgkJZmlsbDogI2Y2ZTYzNjsNCgkJc3Ryb2tlOiAjMzMzMzMzOw0KCQlzdHJva2Utd2lkdGg6IDI7DQoJCXN0cm9rZS1saW5lam9pbjogbWl0ZXI7DQoJCXZlY3Rvci1lZmZlY3Q6IG5vbi1zY2FsaW5nLXN0cm9rZTsNCgl9DQo8L3N0eWxlPg0KPC9kZWZzPg0KPHBhdGggZD0iTTMyLjcsMTguM2MxMSw1LDMzLjMsMy4zLDM3LTExLjMgYzExLjcsOC43LDQwLDExLjMsNTQuNywwYzcuMywxMCwzNi43LDEzLjMsNDYsMGMwLjMsOCwyOSwxNi43LDM5LjMsMTEuN0MyMDIuMywyNywyMTIsNDAuNywyMjksNDJjLTExLjcsNi03LjcsMjguMywwLDMyLjcgYy0xMSwxLTE0LjMsMTIuMy0xNC4zLDEyLjNsMzQuNywyNS4zbC0xMi43LDIuM2wzNi43LDIxbC01Mi45LTEyLjZsNi4yLTYuNGwtMjguMy0xNi4zYzAsMC0xNC43LDE0LTE0LjMsMTkuMyBjLTEwLTUtMzYsMy43LTQ0LjMsMTMuM2MtOS43LTEzLjctNDAuMy0xMi43LTU2LTJjLTctMTAuMy0zNy43LTExLjctNDguNy0xMC43YzcuMi05LjctOS4zLTMxLjctMjctMzVjMTQtNSwxOS43LTM0LjMsNi43LTQwLjcgQzMwLjMsNDMuMywzOS43LDI4LDMyLjcsMTguM3oiLz4NCjwvc3ZnPg==);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 350px;
  margin: 0 auto;
  text-align: center;
  height: 1em;
  padding: 1em 2.5em 1.25em 0;
  box-sizing: content-box;
  line-height: 1;
}

.text-right { margin: 2em 0; }
.text-center { margin-bottom: 4em; }
.text-center p { margin: 2em 0; }
pre { margin-top: 2em; }
code { background: #efefef; border: 1px solid #eee; padding: 0; text-align: left; display: block; margin: 1em auto; line-height: 1.8; }
.container { max-width: 760px; padding-top: 3em; position: relative; }
#twitter-share {
  position: absolute;
  top: 0;
  width: 100%;
}
.footer {
  margin-top: 4em;
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #E5E5E5;
}
.btn-default { margin-right: 1em; }



h1 .char9 {
vertical-align: top;
margin-left: -0.036em;
}

h1 .char10 {
vertical-align: top;
margin-left: -0.036em;
}

h1 .char13 {
vertical-align: top;
margin-left: -0.054em;
}

h1 .char4 {
vertical-align: top;
}

h1 .char5 {
vertical-align: top;
margin-left: 0.018em;
}

h1 .char6 {
vertical-align: top;
margin-left: -0.036em;
}

h1 .char7 {
vertical-align: top;
margin-left: -0.018em;
}

h1 .char8 {
vertical-align: top;
margin-left: -0.036em;
}

h1 .char3 {
vertical-align: top;
margin-left: -0.018em;
}

h1 .char2 {
vertical-align: top;
}

h1 .char11 {
vertical-align: top;
margin-left: -0.036em;
}

h1 .char12 {
vertical-align: top;
margin-left: -0.036em;
}

h1 .char14 {
vertical-align: top;
margin-left: -0.036em;
}
